<!-- SLIDER -->
<div class="row">
	<div class="slider">
		<ul class="slides">
	    <li><%= image_tag("sliders/slider-1.jpeg") %></li>
	    <li><%= image_tag("sliders/slider-2.jpeg") %></li>
	    <li><%= image_tag("sliders/slider-3.jpeg") %></li>
		</div><!-- slides -->
	</div><!-- slider -->
</div><!-- row -->
