<div class="card-content">
    <h4 class="center">Please fill all the required information</h4>
</div><!-- card-content -->
<br/>
<div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
        <li class="tab"><%= link_to "Details", description_activity_path %></li>
        <li class="tab"><%= link_to "Photos", photos_activity_path %></li>
        <li class="tab"><%= link_to "Locations", location_activity_path %></li>
        <li class="tab"><%= link_to "Pricing", price_activity_path %></li>
    </ul><!-- tabs -->
</div><!-- card-tabs -->
